* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.big-card {
  position: fixed;
  top: 35px;left: 50%;
  transform: translate(-50%,0);
  z-index: 3;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  height: 90%;
}