* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.big-card {
  position: fixed;
  top: 80px;left: 50%;
  transform: translate(-50%,0);
  border: 2px solid red;
  z-index: 3;
  background-color: white;
}