* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: static;
}

.contents {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  position: static;
}

.big-card {
  position: fixed;
  top: 10px;
  z-index: 3;
  background-color: white;
  overflow: hidden;
  overflow-y: scroll;
  height: 97%;
}

@media (min-width: 570px) {
  .big-card {
    left: 50%;transform: translate(-50%,0);
  }
}

@media (max-width: 570px) {
  .big-card {
    left: 0;
  }
}
