.main-edit-profile {
    width: 95%;height: 350px;
    max-width: 300px;
    border-radius: 10px;
    background-color: blanchedalmond;
    margin-bottom: 10px;
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 3;
    justify-content: space-evenly;
    align-items: center;
    top: 50%;left: 50%;transform: translate(-50%,-50%);
}

.main-edit-profile img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0;
}

.main-edit-profile div {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.edit:hover {
    color: orange;
}

#picture-input-profile-label {
    position: relative;
    top: 100%;
    left: 0;
    transform: translate(0,0);
    background-color: transparent;
    color: black;
    font-weight: lighter;
    font-size: medium;
    padding: 0;
}

#picture-input-profile-label:hover {
    color: orange;
}