.main-of-main {
    overflow: auto;
    position: fixed;
    z-index: 3;
    top: 0;
    height: 95%;
    top: 50%;transform: translate(0,-50%);
}

.card {
    border: 3px solid orange;
    border-radius: 20px;
    height: calc(100 * 6px);
    position: relative;
    background-color: white;
    left: 0px;
    top: 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
}

.main-big-card {
    position: relative;   
    left: 0;
    /* top: 10px; */
    height: 100%;
    top: 50%;transform: translate(0,-50%);
}

.card * {
    left: 10px;
}

.title-big-card {
    color: black;
    position: absolute;
    top: 3.5px;
    font-size: xx-large;
}

.userName {
    top: 45px;
    position: absolute;
}

.description {
    top: 70px;
    width: calc(100% - 10px);
    position: absolute;
    left: 0;
    word-wrap: break-word;
    padding-right: 5px;
}

.pic-big-card {
    position: absolute;
    height: calc(100 * 6px - 185px);
    width: calc(100% - 20px);
    background-color: black;
    top: 125px;
    left: 50%;
    transform: translate(-50%, 0);
    overflow: hidden;
}

.pic-big-card img,
.pic-big-card video {
    position: absolute;
    height: 100%;
    left: 50%;
    transform: translate(-50%);
    margin: 0;
}

.comment {
    position: relative;
    left: 0;
    margin-top: 10px;
    border-radius: 10px;
    background-color:whitesmoke;
    border: 3px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
    width: 100%;
}

.comment * {
    left: 0;
}

.for-blur {
    z-index: 2;
    width: 100vw;
}

.comment-form {
    position: relative;
    border-bottom: 3px dashed orange;
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin-bottom: 5px;
    display: flex;
}

#name {
    position: relative;
    width: 80%;
}

.expression {
    position: absolute;
    width: 60%;
    height: 35px;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.expression button {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
    background-color: white;
    border: none;
    cursor: pointer;
}

.expression img {
    height: 35px;
}

hr {
    position: relative;
    top: 20px;
}

@media (max-width: 570px) {
    .card,.comment {
        width: 95%;
        left: 50%;transform: translate(-50%,0);
    }
    .pic-big-card img,.pic-big-card video  {
        margin-left: 0;
    }
    .main-of-main {
        width: 95%;
    }
}

@media (min-width: 570px) {
    .card,.comment {
        width: calc(100 * 5px); /* Fix the multiplication here */
    }
}
