.main-card {
    border: 3px solid orange;
    border-radius: 20px;
    height: 480px;
    position: relative;
    margin-bottom: 20px;
    margin-right: 10px;
    margin-left: 10px;
}

.main-card * {
    left: 10px;
}

.title-card {
    color:black;
    position: absolute;
    top: 3.5px; 
    font-size: xx-large;
}

.userName {
    top: 45px;
    position: absolute; 
}

.description {
    top: 70px;width: calc(100% - 10px);
    position: absolute;
    word-wrap: break-word;  
    padding-right: 5px;
}

.pic-card {
    position: absolute;
    height: 295px;
    width: calc(100% - 20px);
    background-color: black;
    top: 125px;left: 50%;transform: translate(-50%,0);
}

.pic-card img,
.pic-card video {
    position: absolute;
    height: 100%;
    left: 50%;transform: translate(-50%);
}

.expression {
    position: absolute;
    width: 60%;height: 35px;
    bottom: 10px;left: 50%;transform: translate(-50%,0);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.expression div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90px;
}

.expression img {
    height:35px;
}

hr {
    position: relative;
    top: 20px;
}


@media (max-width: 570px) {
    .main-card {
        width: 100%;
    }
}

@media (min-width: 570px) {
    .main-card {
        width: 400px;
    }
}